 .App {
  text-align: center;
  background-color: #f5f8fa;
}

.header {
  background-color: #1f4b99;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}